* {
  box-sizing: border-box;
}

#table {
  border: 2px solid black;
  width: 700px;
  height: 400px;
  position: relative;
}

#handle {
  height: 100px;
  width: 20px;
  margin-left: 3px;
  background-color: blue;
  border-radius: 20px;
  position: absolute;
}

#ball {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
}
